.checkout {
    display: flex;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    height: max-content;
}
.checkout__right {
    margin-left: 20px;
}
.checkout__ad {
    width: 100%;
    margin-bottom: 10px;
}
.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 2px solid lightgray;
}